<%
title "PitchCam"
meta_description 'PitchCam : It is a thing'
heading "Training"
%>

<div class="row">
  <h1>Source</h1>
  <div class="col-sm-12">
    <training-video />
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <h1>Config</h1>
  </div>

  <div class="col-sm-4">
    <h1>Render</h1>
  </div>

  <div class="col-sm-4">
    <h1>Feed</h1>
    <ul id="race-feed">
    </ul>
  </div>
</div>

