<%
title "PitchCam"
meta_description 'PitchCam : It is a thing'
heading "Training"
%>

<div class="row">
  <div class="col-sm-8">
    <input type="file" accept="video/*"/>
    <img id="latest">
    <p id="message"></p>
    <video id="training-video" controls></video>
  </div>

  <div class="col-sm-4">
    <h1>Feed</h1>
    <ul id="race-feed">
    </ul>
  </div>
</div>

