<%
    title "PitchCam"
meta_description 'PitchCam : It is a thing'
heading "Training"
%>

<div class="row">
  <h1>Source</h1>
  <training-video />
</div>
<div class="row">
  <h1>Config</h1>
  <config />
</div>
<div class="row">
  <h1>Debug renders</h1>
  <debug-renders />
</div>
