<%
title "PitchCam"
meta_description 'PitchCam : It is a thing'
heading "Training"
%>

<h1>Source</h1>
<div class="row">
  <div class="col-sm-12">
    <training-video />
  </div>
</div>

<h1>Debug renders</h1>
<debug-renders />
