<%
 title "PitchCam"
%>

<div class="row">
  <h1>Source</h1>
  <webcam-video />
</div>
<div class="row">
  <h1>Config</h1>
  <config />
</div>
<div class="row">
  <h1>Debug renders</h1>
  <debug-renders />
</div>
<div class="row">
  <h1>Car tracker</h1>
  <car-tracker />
</div>
