<%
 title "PitchCam"
 meta_description 'PitchCam : It is a thing'
 heading "Default Race"
%>

<div class="row">
  <div class="col-sm-8">
    <button type="submit" data-behavior="start-race" >Start race</button>
  </div>

  <div class="col-sm-4">
    Here is some more
  </div>
</div>
